
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    </head>
    <body class="bgimg">
    	<header>
    		<div id="logo"><img src="../static/logo.png">Nacl&nbsp;Hospital</div>
    		<nav>  
    			<ul>
    				<li><a href="/">Home</a>
    				<li><a href="{{url_for ('AddPatient')}}">AddPatient</a>
    				<li><a href="{{url_for('SearchPatient')}}">SearchPatient</a>
    			</ul>
    		</nav>
    	</header>
    	<section>
    		<strong><b>search patient </strong>
    	</section>
    	
    	<section>
    		<form method="POST" action="{{url_for('getdata')}}">
    			<lable for="pid">Id</lable>
    			<input  type="number" name="pid" id="pid"/>
    			
    			
    			<input  type="submit" name="Search Patient" value="Search Patient"/><br><br>
    		</form>
    
    	</section>
    	<section id="pageContent">
    		<main role="main">
    			{% for item in row %}
    			<tr align="center">
    			<td>{{item}}</td>
    			<br><br>
    			</tr>
    			{% endfor %}
    			
    		</main>
